@import url('https://fonts.googleapis.com/css?family=Bebas+Neue');
@import url('https://fonts.googleapis.com/css?family=Titillium+Web');

@font-face {
    font-family: 'Silkscreen';
    src: url(../fonts/slkscrb.ttf);
}

@font-face {
    font-family: 'Edit Undo BRK';
    src: url(../fonts/editundo.ttf);
}

@font-face {
    font-family: 'BPdots';
    src: url(../fonts/BPdots.otf);
}

@font-face {
    font-family: 'BPdotsSquares';
    src: url(../fonts/BPdotsSquareBold.otf);
}